doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='Description' content='Личный блог Типотека')
    title Типотека
    link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.min.css')
    style.
      li.pagination__item--active a {
        pointer-events: none;
      }
  body

    mixin postDate(dateString)
      -
        const formatDate = (dateString) => {
          const date = new Date(dateString);
          return date.toLocaleString();
        }
      time.post__date(datetime='2019-03-21T20:33') #{formatDate(article.createdAt)}
    mixin commentDate(dateString)
      -
        const formatDate = (dateString) => {
          const date = new Date(dateString);
          return date.toLocaleString();
        }
      time.comments__date(datetime='2019-03-21T20:33') #{formatDate(article.createdAt)}
    mixin pagination(page, totalPages, width, prefix)
      -
        let start = page - width;
        let end = page + width;
        if (start < 1) {
          end += 1 - start;
          start = 1;
        }
        if (end > totalPages) {
          start -= end - totalPages;
          end = totalPages;
        }
        if (start < 1) {
          start = 1;
        }
        let i = start - 1
      .preview__toggle-wrapper
        ul.preview__pagination.pagination
          if start > 1
            li
              a.pagination__button.button.button--backwards(href=`${prefix}page=${page - 1}` aria-label='Страница назад') Назад
          while i++ < end
            if i === page
              li.pagination__item.pagination__item--active
                a(href=`${prefix}page=${i}`)= i
            else
              li.pagination__item
                a(href=`${prefix}page=${i}`)= i
          if end < totalPages
            li
              a.pagination__button.button.button--forward(href=`${prefix}page=${page + 1}`) Вперёд
    .wrapper
      block header
        include blocks/header.pug
      block content
      block footer
        include blocks/footer.pug
    block scripts
      include blocks/js-scripts.pug
